.why-choose-us .container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
  @media (max-width: 1200px) {
    .why-choose-us .container {
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    .why-choose-us .container {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container {
      width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 1200px) {
    .why-choose-us .container .content-left {
      width: 100%;
      text-align: center;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left {
      width: 100%;
    }
  }
  .why-choose-us .container .content-left p {
    margin: 1.5rem 0 1.5rem 0;
    color: #F94D1C;
    font-weight: 400;
    font-size: 18px;
  }
  @media (max-width: 992px) {
    .why-choose-us .container .content-left p {
      margin: 1rem;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left p {
      margin: 0;
      width: 100%;
      font-size: 0.9em;
      text-align: center;
      padding: 1rem;
    }
  }
  .why-choose-us .container .content-left h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 45px;
  }
  @media (max-width: 1400px) {
    .why-choose-us .container .content-left h2 {
      font-size: 40px;
    }
  }
  @media (max-width: 1200px) {
    .why-choose-us .container .content-left h2 {
      font-size: 1.5em;
    }
  }
  @media (max-width: 992px) {
    .why-choose-us .container .content-left h2 {
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .why-choose-us .container .content-left h2 {
      font-size: 1.5em;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left h2 {
      padding-bottom: 2rem;
      text-align: center;
      margin: 0;
      padding: 0;
      width: 100%;
      padding: 1rem;
      font-size: 1.3em;
    }
  }
  .why-choose-us .container .content-left .bottom-box {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    justify-items: center;
  }
  @media (max-width: 1200px) {
    .why-choose-us .container .content-left .bottom-box {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left .bottom-box {
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
  }
  .why-choose-us .container .content-left .bottom-box .icon img {
    border: 1.5px solid #E7E7E7;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #FFFFFF;
    margin-bottom: 2rem;
  }
  @media (max-width: 1200px) {
    .why-choose-us .container .content-left .bottom-box .icon img {
      margin-bottom: 0;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left .bottom-box .icon img {
      text-align: left;
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
  .why-choose-us .container .content-left .bottom-box .text {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    line-height: 1rem;
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left .bottom-box .text {
      display: grid;
      align-items: baseline;
    }
  }
  .why-choose-us .container .content-left .bottom-box .text h3 {
    font-size: 22px;
    color: #191919;
    margin: 0.5rem 0;
    font-weight: 700;
    padding: 0;
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left .bottom-box .text h3 {
      font-size: 1.1em;
    }
  }
  .why-choose-us .container .content-left .bottom-box .text p {
    margin: 0 0 3rem 0;
    color: #191919;
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-left .bottom-box .text p {
      font-size: 0.9em;
      margin: 0;
      margin-bottom: 1.5rem;
      padding: 0;
      text-align: left;
    }
  }
  .why-choose-us .container .content-right {
    padding-top: 3rem;
    position: relative;
  }
  @media (max-width: 1200px) {
    .why-choose-us .container .content-right {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .why-choose-us .container .content-right {
      display: none;
    }
  }
  .why-choose-us .container .content-right .bg-box {
    position: absolute;
    background-color: #F0EFE9;
    width: 1057px;
    height: 425px;
    top: 13rem;
    right: -18.99rem;
  }
  .why-choose-us .container .content-right img {
    position: absolute;
    margin-top: 1.5rem;
  }