.bottom-footer {
    background-color: #0E1021;
    border-top: 1px solid #3E404D;
    
    .container {
        margin-top: 2rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        color: #B6B6BC;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .copyright {

            p {
                @media (max-width: 576px) {
                    font-size: .9em;
                }
            }
        }

        .contact-media {
            a {
                margin-left: 1rem;
                color: #B6B6BC;
                font-size: 1.2rem;

                &:hover {
                    color: #F94D1C;
                    
                    i {
                        animation: pulse-rotate 1s linear infinite;
                        transition: 1s;
                    }
                }
            }
        }
    }
}