.form {
    margin-top: 4rem;

    @media (max-width: 1200px) {
        background-color: #F0EFE9;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #F0EFE9;

        .section-title {
            margin-top: 3rem;
            
            h2 {
                text-align: center;
            }
        }

        .form-container {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 10rem;
            padding-right: 10rem;

            @media (max-width: 992px) {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            .input {
                width: 100%;

                label {
                    color: #952323;
                    font-size: .9em;
                    margin: 1rem;
                }

                .form-input {
                    padding: 15px 30px;
                    margin-bottom: 2rem;
                    width: 100%;
                    border-radius: 25px;
                    border: none;
                }
            }

            a {
                width: 100%;
                text-align: center;
            }
        }           
    }
}