header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;

        .menu-bars {
            border: none;
            background-color: transparent;
            font-size: 25px;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
           display: none;
           flex: 1;

           @media (min-width: 992px) {
            display: block;
           }

           .top-menu {
            display: flex;
            justify-content: flex-end;
            border-bottom: solid 1px #DAD9D3;
            padding-bottom: 10px;
            align-items: center;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }

            .contact {
                display: none;
                align-items: center;

                @media (min-width: 1200px) {
                    display: flex;
                }

                .contact-info {
                    margin-right: 2rem;
                    border-right: solid 1px #DAD9D3;
                    padding-right: 2rem;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-weight: 300;

                    i {
                        margin-right: 5px;
                        font-size: 1.2em;
                        color: #666666;
                    }

                    &.last {
                        border: none;
                    }
                }
            }

            .contact-media {

                a {
                    margin-left: 0.5rem;
                    color: #191919;
                    font-size: 1.2rem;

                    i {
                        &:hover {
                            color: #F94D1C;
                            animation: pulse-rotate 1s linear infinite;
                            transition: 1s;
                        }
                    }

                    
                }
            }

           }

           .main-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px; 

            nav {
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &:hover {
                        color: #F94D1C;
                        transition: .5s;
                        transform: scale(1.1);
                    }

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

            .btn-login {
                padding-top: 12px;
                padding-bottom: 12px;
            }
           
        }
        }
    }

}