.services {
    background-color: #F0EFE9;
    margin-top: 5rem;
    background-image: url('/src/assets/images/waves-reverse.svg');
    background-repeat: no-repeat;
    background-position: 100% 102%;
    width: 100%;

    @media (max-width: 1200px) {
        text-align: center;
    }

    @media (max-width: 576px) {
        margin-top: 1rem;
    }
    
    .container {

         @media (max-width: 576px) {
            padding-right: 1rem;
         }

        .section-title {
            
            p {
                padding-top: 2rem;
                padding-bottom: 1rem;
                color: #F94D1C;
                font-weight: 400;
                font-size: 18px;
    
                @media (max-width: 992px) {
                    margin: 1rem;
                }

                @media (max-width: 576px) {
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    text-align: center;
                    font-size: .9em;
                    margin: 0;
                }
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
    
                @media (max-width: 1400px) {
                    font-size: 40px;
                }
    
                @media (max-width: 992px) {
                    text-align: center;
                }
    
                @media (max-width: 768px) {
                    font-size: 1.5em;
                }

                @media (max-width: 576px) {
                    padding-bottom: 1rem;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    font-size: 1.3em;
                }
            }
        }

        .cards {
            display: flex;
            gap: 1.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            @media (max-width: 1200px) {
                display: grid;
                gap: 1rem;
                justify-content: center;
            }

            @media (max-width: 576px) {
                flex-direction: column;
            }

            .box {
                background-color: #FFFFFF;
                padding: 2rem;
                padding-top: 3rem;

                &:hover {
                    background-color: #F9D783;
                    transform: scale(1.1);
                    transition: all ease-in-out .5s;

                    a {
                        animation: pulse 1s linear infinite;
                    }
                }

                .line {
                    border-bottom: 1.5px solid #191919;
                    margin-bottom: 1.5rem;
                    width: 39px;
                }

                h3 {
                    margin-bottom: 1rem;

                    @media (max-width: 576px) {
                        font-size: 1.2em;
                        font-weight: 700;
                    }
                }

                p {
                    margin-bottom: 3rem;

                    @media (max-width: 576px) {
                        font-size: .9em;
                    }
                }

                .btn-round {
                    float: right;
                    background-color: #191919;
                    color: #F0EFE9;

                    &:hover {
                        background-color: #F0EFE9;
                        border: solid 1px #F0EFE9;
                        color: #191919;
                    }
                }
            }
        
        }

        .button {
            display: flex;
            justify-content: center;
            padding-bottom: 5rem;

            @media (max-width: 576px) {
                padding-bottom: 2rem;
            }
        }
    }  
}