.signup {
    background-color: #F0EFE9;
    margin-top: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url('/src/assets/images/lines.svg');
    background-repeat: no-repeat;
    background-position: 100% 70%;

    @media (max-width: 576px) {
        padding-top: 2rem;
        margin-top: 0;
        padding-bottom: 2rem;
    }

    .container {
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 1200px) {
            display: grid;
        }

        @media (max-width: 576px) {
            display: grid;
        }

        h2 {
            font-size: 45px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            color: #191919;

            @media (max-width: 1400px) {
                font-size: 40px;
            }
    
            @media (max-width: 992px) {
                text-align: center;
            }
    
            @media (max-width: 768px) {
                font-size: 1.5em;
            }
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 768px) {
                display: grid;
                text-align: center;
                gap: 1rem;
            }

            @media (max-width: 576px) {
                display: grid;
                text-align: center;
                width: 100%;
            }

            .email { 
                border: none;
                border-radius: 25px;
                padding: 15px 60px;
                color: #8C8C8C;

                @media (max-width: 576px) {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
            }

            a {
                margin-left: 1rem;

                @media (max-width: 768px) {
                    margin: 0;
                }

                @media (max-width: 576px) {
                    margin-left: 0;
                }
            }
        }
    }

}