/* BASE CODE */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;500&display=swap");
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse-rotate {
  0% {
    transform: scale(1.1) rotate(5deg);
  }
  50% {
    transform: scale(1.5) rotate(10deg);
  }
  100% {
    transform: scale(1.1) rotate(5deg);
  }
}
html, body {
  margin: 0;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

.btn-yellow {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: solid 1px #191919;
  color: #F0EFE9;
  transition: 0.5s;
  transform: scale(1.1);
}

.btn-transparent {
  background-color: transparent;
  border: solid 1px #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: solid 1px #191919;
  color: #F0EFE9;
  transition: 0.5s;
  transform: scale(1.1);
}

.btn-black {
  background-color: #191919;
  border: solid 1px #191919;
  color: #F0EFE9;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
  transition: 0.5s;
  transform: scale(1.1);
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1.2px solid #191919;
  border-radius: 50%;
  color: #191919;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
}
.btn-round:hover {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
  transition: 0.5s;
  transform: scale(1.1);
  animation: pulse 1s linear infinite;
}

.section-title p {
  margin: 1rem 0 1rem 0;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 576px) {
  .section-title p {
    font-size: 0.9em;
  }
}
.section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #191919;
}
@media (max-width: 1400px) {
  .section-title h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .section-title h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 1.3em;
  }
}
.section-title h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #191919;
}
@media (max-width: 1400px) {
  .section-title h1 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .section-title h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section-title h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .section-title h1 {
    font-size: 1em;
  }
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  border: none;
  background-color: transparent;
  font-size: 25px;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px #DAD9D3;
  padding-bottom: 10px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact {
    display: flex;
  }
}
header .container .menu .top-menu .contact .contact-info {
  margin-right: 2rem;
  border-right: solid 1px #DAD9D3;
  padding-right: 2rem;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
header .container .menu .top-menu .contact .contact-info i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact .contact-info.last {
  border: none;
}
header .container .menu .top-menu .contact-media a {
  margin-left: 0.5rem;
  color: #191919;
  font-size: 1.2rem;
}
header .container .menu .top-menu .contact-media a i:hover {
  color: #F94D1C;
  animation: pulse-rotate 1s linear infinite;
  transition: 1s;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a:hover {
  color: #F94D1C;
  transition: 0.5s;
  transform: scale(1.1);
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu-bars {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.menu-bars .fa-times {
  color: #fff;
}
.menu-bars .fa-times:hover {
  color: #F94D1C;
  transition: 0.5s;
  transform: scale(1.1);
}

.menu-objects {
  position: fixed;
  top: 0;
  right: -100vw;
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: right 0.3s ease;
}
.menu-objects.open {
  right: 0;
}
.menu-objects nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-right: 2rem;
  text-align: center;
}
.menu-objects nav ul {
  list-style-type: none;
}
.menu-objects nav ul li {
  padding: 0.5rem;
}
.menu-objects nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1em;
}
.menu-objects nav ul li a:hover {
  color: #F94D1C;
  transition: 0.5s;
  transform: scale(1.1);
}

.footer {
  background-color: #0E1021;
  background-image: url("/src/assets/images/Element.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.footer .container {
  padding-top: 2rem;
  color: #B6B6BC;
  font-weight: 500;
  font-size: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 4rem;
  padding-bottom: 3rem;
  align-items: center;
}
@media (max-width: 1400px) {
  .footer .container {
    align-items: baseline;
    padding-top: 1rem;
  }
}
@media (max-width: 1200px) {
  .footer .container {
    padding-top: 1rem;
    gap: 2rem;
    align-items: baseline;
  }
}
@media (max-width: 768px) {
  .footer .container {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 576px) {
  .footer .container {
    padding-top: 2rem;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }
}
.footer .container .footer-logo img {
  margin-bottom: 2rem;
}
.footer .container .footer-logo p {
  font-weight: 300;
  margin: 0;
}
@media (max-width: 576px) {
  .footer .container .footer-logo p {
    font-size: 0.9em;
  }
}
.footer .container .column h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
@media (max-width: 576px) {
  .footer .container .column h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.1em;
  }
}
.footer .container .column ul {
  margin: 0;
  padding: 0;
}
.footer .container .column ul li {
  list-style-type: none;
}
.footer .container .column ul li a {
  text-decoration: none;
  color: #B6B6BC;
  font-size: 16px;
  line-height: 2rem;
}
@media (max-width: 576px) {
  .footer .container .column ul li a {
    font-size: 0.9em;
  }
}
.footer .container .column ul li a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.bottom-footer {
  background-color: #0E1021;
  border-top: 1px solid #3E404D;
}
.bottom-footer .container {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: #B6B6BC;
}
@media (max-width: 768px) {
  .bottom-footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .bottom-footer .container .copyright p {
    font-size: 0.9em;
  }
}
.bottom-footer .container .contact-media a {
  margin-left: 1rem;
  color: #B6B6BC;
  font-size: 1.2rem;
}
.bottom-footer .container .contact-media a:hover {
  color: #F94D1C;
}
.bottom-footer .container .contact-media a:hover i {
  animation: pulse-rotate 1s linear infinite;
  transition: 1s;
}

/* HOME PAGE */
.showcase {
  background-color: #F0EFE9;
  background-image: url("/src/assets/images/waves2.svg");
  background-repeat: no-repeat;
  background-position: -2% 102%;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
    padding: 15px 30px;
  }
}
.showcase .container .image {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container .image {
    display: block;
  }
}

.companies {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
}
.companies img:hover {
  transform: scale(1.1) rotate(5deg);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .companies {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.features {
  border: 1.2px solid #d1d1d1;
  border-radius: 1.2px;
  margin-left: 12rem;
  margin-right: 12rem;
}
@media (max-width: 1400px) {
  .features {
    padding: 2rem 0;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (max-width: 576px) {
  .features {
    border: none;
    padding: 1rem;
    margin: 0;
    text-align: left;
  }
}
.features .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 992px) {
  .features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .features .container {
    width: 100%;
    padding: 0;
  }
}
.features .container .content-left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 2rem;
  margin-bottom: 10rem;
}
@media (max-width: 992px) {
  .features .container .content-left {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .features .container .content-left {
    margin: 0;
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  .features .container .content-left {
    margin-bottom: 2rem;
    width: 100%;
  }
}
.features .container .content-left p {
  margin: 1.5rem 0 2rem 0;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .features .container .content-left p {
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .features .container .content-left p {
    margin: 1rem 0;
    font-size: 0.9em;
  }
}
.features .container .content-left h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .features .container .content-left h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .features .container .content-left h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .features .container .content-left h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .features .container .content-left h2 {
    font-size: 1.3em;
    width: 100%;
  }
}
.features .container .content-left .btn-yellow {
  text-align: center;
  border-radius: 50px;
  padding: 15px 30px;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .features .container .content-left .btn-yellow {
    width: 100%;
    align-self: center;
  }
}
@media (max-width: 768px) {
  .features .container .content-left .btn-yellow {
    width: 100%;
  }
}
.features .container .content-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  margin-top: 4rem;
}
@media (max-width: 992px) {
  .features .container .content-right {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    gap: 5rem;
  }
}
@media (max-width: 768px) {
  .features .container .content-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }
  .features .container .content-right p {
    font-size: 0.9em;
  }
}
.features .container .content-right .content-box {
  padding: 1rem;
}
@media (max-width: 992px) {
  .features .container .content-right .content-box {
    padding: 0;
  }
}
.features .container .content-right i {
  margin-bottom: 2rem;
  font-size: 25px;
}
@media (max-width: 992px) {
  .features .container .content-right i {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.about-company {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about-company {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.about-company .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .about-company .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .about-company .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    width: 100%;
  }
}
.about-company .container .column-left {
  display: flex;
  position: relative;
  margin-left: 3rem;
}
@media (max-width: 1200px) {
  .about-company .container .column-left {
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-left {
    width: 100%;
    margin-left: 0;
    align-content: center;
  }
}
.about-company .container .column-left img {
  position: absolute;
}
@media (max-width: 1200px) {
  .about-company .container .column-left img {
    position: relative;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-left img {
    width: 100%;
    height: auto;
    position: relative;
  }
}
.about-company .container .column-left .founder-box {
  background-color: #BEEBFF;
  position: absolute;
  margin-left: -60px;
  margin-bottom: 20px;
  align-self: flex-end;
  max-width: 368px;
  padding: 2rem 1rem 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (max-width: 1200px) {
  .about-company .container .column-left .founder-box {
    position: absolute;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-left .founder-box {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 1rem;
  }
}
.about-company .container .column-left .founder-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #191919;
}
@media (max-width: 576px) {
  .about-company .container .column-left .founder-box h3 {
    font-size: 1.1em;
  }
}
.about-company .container .column-left .founder-box span {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #F94D1C;
  font-weight: 700;
}
@media (max-width: 576px) {
  .about-company .container .column-left .founder-box span {
    font-size: 0.9em;
  }
}
.about-company .container .column-left .founder-box p {
  font-size: 16px;
  margin-top: 1rem;
}
@media (max-width: 576px) {
  .about-company .container .column-left .founder-box p {
    font-size: 0.9em;
  }
}
.about-company .container .column-right {
  padding: 1.5rem;
}
@media (max-width: 1200px) {
  .about-company .container .column-right {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-right {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    width: 100%;
  }
}
.about-company .container .column-right h3 {
  margin: 1.5rem 0 2rem 0;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .about-company .container .column-right h3 {
    margin: 1rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-right h3 {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 0.9em;
  }
}
.about-company .container .column-right h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .about-company .container .column-right h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .about-company .container .column-right h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about-company .container .column-right h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .about-company .container .column-right h2 {
    padding-bottom: 2rem;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3em;
  }
}
.about-company .container .column-right p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  .about-company .container .column-right p {
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.about-company .container .column-right .btn-black {
  margin-right: 2rem;
}
@media (max-width: 576px) {
  .about-company .container .column-right .btn-black {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.about-company .container .column-right span {
  margin-left: 1rem;
}
@media (max-width: 576px) {
  .about-company .container .column-right span {
    margin-left: 0;
  }
}
.about-company .container .column-right .buttons {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .about-company .container .column-right .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
  }
}

.services {
  background-color: #F0EFE9;
  margin-top: 5rem;
  background-image: url("/src/assets/images/waves-reverse.svg");
  background-repeat: no-repeat;
  background-position: 100% 102%;
  width: 100%;
}
@media (max-width: 1200px) {
  .services {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .services {
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .services .container {
    padding-right: 1rem;
  }
}
.services .container .section-title p {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .services .container .section-title p {
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .services .container .section-title p {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 0.9em;
    margin: 0;
  }
}
.services .container .section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .services .container .section-title h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .services .container .section-title h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .services .container .section-title h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .services .container .section-title h2 {
    padding-bottom: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
  }
}
.services .container .cards {
  display: flex;
  gap: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 1200px) {
  .services .container .cards {
    display: grid;
    gap: 1rem;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .services .container .cards {
    flex-direction: column;
  }
}
.services .container .cards .box {
  background-color: #FFFFFF;
  padding: 2rem;
  padding-top: 3rem;
}
.services .container .cards .box:hover {
  background-color: #F9D783;
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}
.services .container .cards .box:hover a {
  animation: pulse 1s linear infinite;
}
.services .container .cards .box .line {
  border-bottom: 1.5px solid #191919;
  margin-bottom: 1.5rem;
  width: 39px;
}
.services .container .cards .box h3 {
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  .services .container .cards .box h3 {
    font-size: 1.2em;
    font-weight: 700;
  }
}
.services .container .cards .box p {
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  .services .container .cards .box p {
    font-size: 0.9em;
  }
}
.services .container .cards .box .btn-round {
  float: right;
  background-color: #191919;
  color: #F0EFE9;
}
.services .container .cards .box .btn-round:hover {
  background-color: #F0EFE9;
  border: solid 1px #F0EFE9;
  color: #191919;
}
.services .container .button {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
@media (max-width: 576px) {
  .services .container .button {
    padding-bottom: 2rem;
  }
}

.why-choose-us .container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .why-choose-us .container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .why-choose-us .container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .why-choose-us .container .content-left {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left {
    width: 100%;
  }
}
.why-choose-us .container .content-left p {
  margin: 1.5rem 0 1.5rem 0;
  color: #F94D1C;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .why-choose-us .container .content-left p {
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left p {
    margin: 0;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    padding: 1rem;
  }
}
.why-choose-us .container .content-left h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 45px;
}
@media (max-width: 1400px) {
  .why-choose-us .container .content-left h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  .why-choose-us .container .content-left h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 992px) {
  .why-choose-us .container .content-left h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .why-choose-us .container .content-left h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left h2 {
    padding-bottom: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.3em;
  }
}
.why-choose-us .container .content-left .bottom-box {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1200px) {
  .why-choose-us .container .content-left .bottom-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left .bottom-box {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
.why-choose-us .container .content-left .bottom-box .icon img {
  border: 1.5px solid #E7E7E7;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
}
@media (max-width: 1200px) {
  .why-choose-us .container .content-left .bottom-box .icon img {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left .bottom-box .icon img {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
.why-choose-us .container .content-left .bottom-box .text {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
  line-height: 1rem;
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left .bottom-box .text {
    display: grid;
    align-items: baseline;
  }
}
.why-choose-us .container .content-left .bottom-box .text h3 {
  font-size: 22px;
  color: #191919;
  margin: 0.5rem 0;
  font-weight: 700;
  padding: 0;
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left .bottom-box .text h3 {
    font-size: 1.1em;
  }
}
.why-choose-us .container .content-left .bottom-box .text p {
  margin: 0 0 3rem 0;
  color: #191919;
}
@media (max-width: 576px) {
  .why-choose-us .container .content-left .bottom-box .text p {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    text-align: left;
  }
}
.why-choose-us .container .content-right {
  padding-top: 3rem;
  position: relative;
}
@media (max-width: 1200px) {
  .why-choose-us .container .content-right {
    display: none;
  }
}
@media (max-width: 576px) {
  .why-choose-us .container .content-right {
    display: none;
  }
}
.why-choose-us .container .content-right .bg-box {
  position: absolute;
  background-color: #F0EFE9;
  width: 1057px;
  height: 425px;
  top: 13rem;
  right: -18.99rem;
}
.why-choose-us .container .content-right img {
  position: absolute;
  margin-top: 1.5rem;
}

.project-and-case .container .section-title {
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 576px) {
  .project-and-case .container .section-title {
    margin-top: 1rem;
  }
}
.project-and-case .container .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
@media (max-width: 576px) {
  .project-and-case .container .projects {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
.project-and-case .container .projects .article {
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .projects .article:hover img {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.project-and-case .container .projects .article:hover div {
  text-decoration: underline;
  font-weight: bold;
}
.project-and-case .container .projects .article:hover div i {
  animation: pulse-rotate 1s linear infinite;
}
.project-and-case .container .projects .article img {
  width: 100%;
}
.project-and-case .container .projects .article h3 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid #E7E7E7;
  color: #191919;
}
@media (max-width: 576px) {
  .project-and-case .container .projects .article h3 {
    font-size: 1em;
  }
}
.project-and-case .container .projects .article div {
  text-decoration: none;
  color: #191919;
  display: block;
  text-align: right;
  margin-top: 2rem;
}
@media (max-width: 576px) {
  .project-and-case .container .projects .article div {
    font-size: 0.9em;
    text-align: left;
    margin-top: 1rem;
  }
}
.project-and-case .container .button {
  text-align: center;
  margin-top: 5rem;
}
@media (max-width: 576px) {
  .project-and-case .container .button {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

.team-members {
  background-color: #F0D082;
  margin-top: 5rem;
}
@media (max-width: 576px) {
  .team-members {
    margin-top: 2rem;
  }
}
.team-members .container .section-title {
  padding-top: 4rem;
}
@media (max-width: 576px) {
  .team-members .container .section-title {
    padding-top: 1.5rem;
  }
}
@media (max-width: 992px) {
  .team-members .container .section-title p {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .team-members .container .section-title p {
    text-align: center;
  }
}
.team-members .container .section-title h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .team-members .container .section-title h2 {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .team-members .container .section-title h2 {
    flex-direction: column;
  }
}
.team-members .container .section-title h2 a {
  border: 1px solid #191919;
}
@media (max-width: 992px) {
  .team-members .container .section-title h2 a {
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .team-members .container .section-title h2 a {
    margin-top: 1rem;
  }
}
.team-members .container .section-team {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 5rem;
}
@media (max-width: 1200px) {
  .team-members .container .section-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .team-members .container .section-team {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .team-members .container .section-team {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .team-members .container .section-team {
    margin-top: 2rem;
  }
}
@media (max-width: 576px) {
  .team-members .container .section-team div img {
    width: 70%;
    height: auto;
  }
}
.team-members .container .section-team div h3 {
  padding-top: 2rem;
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 576px) {
  .team-members .container .section-team div h3 {
    padding-top: 1rem;
    font-size: 1.2em;
  }
}
@media (max-width: 576px) {
  .team-members .container .section-team div p {
    font-size: 0.9em;
  }
}
.team-members .container .icons {
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}
.team-members .container .icons .dot {
  height: 12px;
  width: 12px;
  background-color: #C2AA70;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.team-members .container .icons .dot.active {
  background-color: #191919;
}
.team-members .container .icons .dot:hover {
  background-color: #191919;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

.testimonials {
  background-color: #F0D082;
  padding-bottom: 5rem;
}
@media (max-width: 576px) {
  .testimonials {
    padding-bottom: 0.5rem;
  }
}
.testimonials .container {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.testimonials .container .section-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
@media (max-width: 576px) {
  .testimonials .container .section-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.testimonials .container .section-reviews .cards {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  padding: 3rem;
}
@media (max-width: 992px) {
  .testimonials .container .section-reviews .cards {
    display: grid;
  }
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards {
    display: grid;
    gap: 2rem;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards .review-card {
    border-bottom: 1.5px solid #E7E7E7;
  }
}
.testimonials .container .section-reviews .cards .review-card p {
  margin-bottom: 2rem;
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards .review-card p {
    font-size: 0.9em;
  }
}
.testimonials .container .section-reviews .cards .review-card .stars {
  color: #F94D1C;
  font-size: 16px;
  margin-bottom: 1rem;
}
.testimonials .container .section-reviews .cards .review-card .review-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards .review-card .review-bottom {
    margin-bottom: 1.5rem;
  }
}
.testimonials .container .section-reviews .cards .review-card .review-bottom div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards .review-card .review-bottom div {
    justify-content: flex-end;
  }
}
.testimonials .container .section-reviews .cards .review-card .review-bottom div h3 {
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards .review-card .review-bottom div h3 {
    font-size: 1.1em;
  }
}
.testimonials .container .section-reviews .cards .review-card .review-bottom div p {
  color: #F94D1C;
  margin-bottom: 0;
  font-size: 16px;
}
@media (max-width: 576px) {
  .testimonials .container .section-reviews .cards .review-card .review-bottom div p {
    font-size: 0.9em;
  }
}
.testimonials .container .button {
  margin-top: 5rem;
  margin-bottom: 6rem;
  text-align: center;
}
@media (max-width: 576px) {
  .testimonials .container .button {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.articles-news {
  margin-top: 4rem;
}
@media (max-width: 576px) {
  .articles-news {
    margin-top: 1.5rem;
  }
}
@media (max-width: 576px) {
  .articles-news .container {
    padding: 1rem;
  }
}
@media (max-width: 1200px) {
  .articles-news .container .section-title p {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .articles-news .container .section-title p {
    text-align: center;
  }
}
.articles-news .container .section-title h2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .articles-news .container .section-title h2 {
    display: grid;
    text-align: center;
    justify-content: center;
  }
  .articles-news .container .section-title h2 .btn-transparent {
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .articles-news .container .section-title h2 {
    flex-direction: column;
  }
  .articles-news .container .section-title h2 .btn-transparent {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.articles-news .container .news-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}
@media (max-width: 1200px) {
  .articles-news .container .news-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .articles-news .container .news-section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .articles-news .container .news-section {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 0;
  }
}
.articles-news .container .news-section .article {
  text-decoration: none;
}
.articles-news .container .news-section .article:hover {
  text-decoration: underline;
  font-weight: 700;
  color: #191919;
}
.articles-news .container .news-section .article:hover img {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.articles-news .container .news-section .article p {
  margin-top: 1.5rem;
  color: #191919;
  text-decoration: none;
}
@media (max-width: 576px) {
  .articles-news .container .news-section .article p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.9em;
  }
}
.articles-news .container .news-section .article h3 {
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 700;
  max-width: 310px;
  text-decoration: none;
  color: #191919;
}
@media (max-width: 576px) {
  .articles-news .container .news-section .article h3 {
    font-size: 1.1em;
  }
}
@media (max-width: 992px) {
  .articles-news .container .news-section .article {
    border-bottom: 1.5px solid #E7E7E7;
  }
}
@media (max-width: 576px) {
  .articles-news .container .news-section .article img {
    width: 100%;
    margin-top: 1rem;
  }
}
.articles-news .container .icons {
  margin-top: 1.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.articles-news .container .icons .dot {
  height: 12px;
  width: 12px;
  background-color: #D1D1D1;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.articles-news .container .icons .dot.active {
  background-color: #191919;
}
.articles-news .container .icons .dot:hover {
  background-color: #191919;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

.signup {
  background-color: #F0EFE9;
  margin-top: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("/src/assets/images/lines.svg");
  background-repeat: no-repeat;
  background-position: 100% 70%;
}
@media (max-width: 576px) {
  .signup {
    padding-top: 2rem;
    margin-top: 0;
    padding-bottom: 2rem;
  }
}
.signup .container {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1200px) {
  .signup .container {
    display: grid;
  }
}
@media (max-width: 576px) {
  .signup .container {
    display: grid;
  }
}
.signup .container h2 {
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #191919;
}
@media (max-width: 1400px) {
  .signup .container h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .signup .container h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .signup .container h2 {
    font-size: 1.5em;
  }
}
.signup .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .signup .container div {
    display: grid;
    text-align: center;
    gap: 1rem;
  }
}
@media (max-width: 576px) {
  .signup .container div {
    display: grid;
    text-align: center;
    width: 100%;
  }
}
.signup .container div .email {
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
  color: #8C8C8C;
}
@media (max-width: 576px) {
  .signup .container div .email {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
.signup .container div a {
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .signup .container div a {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .signup .container div a {
    margin-left: 0;
  }
}

/* NOT FOUND PAGE */
body {
  min-height: 100vh;
  position: relative;
}

.notfound .container .section-title {
  margin-top: 2rem;
  text-align: center;
}
.notfound .container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.notfound .container .image {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.notfound .container .image img {
  height: 40%;
  width: 40%;
}
.notfound .bottom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* CONTACT PAGE */
.showcase .container {
  justify-content: center;
}
.showcase .container .content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.showcase .container .content .section-title {
  text-align: center;
}
.showcase .container .content .section-title a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  padding: 1rem;
  color: #191919;
  font-weight: 300;
}
.showcase .container .content .section-title a.active {
  text-decoration: none;
  font-weight: 500;
  margin: 0;
}
.showcase .container .content .section-title a:hover {
  font-weight: 500;
  color: #F94D1C;
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.5s;
  animation: rotate 1s linear infinite;
}
.showcase .container .content .section-title h1 {
  margin-top: 1.5rem;
  font-size: 56px;
}
@media (max-width: 576px) {
  .showcase .container .content .section-title h1 {
    font-size: 2.5em;
  }
}

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-top: 5rem;
}
@media (max-width: 1200px) {
  .contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .contact .container {
    grid-template-columns: 1fr;
  }
}
.contact .container .box {
  display: flex;
  flex-direction: row;
  border: 1px solid #D1D1D1;
  padding: 2rem 2rem 2rem 3rem;
}
.contact .container .box .round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  background-color: #191919;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.contact .container .box .round-icon:hover {
  background-color: #F94D1C;
  transform: scale(1.1);
  transition: 0.5s;
  animation: pulse 1s infinite linear;
  cursor: pointer;
}
.contact .container .box .round-icon i {
  color: #FFFFFF;
  font-size: 24px;
}
.contact .container .box .box-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
}
.contact .container .box .box-text h3 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.contact .container .box .box-text p {
  margin: 0;
  padding: 0;
}

.form {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .form {
    background-color: #F0EFE9;
  }
}
.form .container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #F0EFE9;
}
.form .container .section-title {
  margin-top: 3rem;
}
.form .container .section-title h2 {
  text-align: center;
}
.form .container .form-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (max-width: 992px) {
  .form .container .form-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.form .container .form-container .input {
  width: 100%;
}
.form .container .form-container .input label {
  color: #952323;
  font-size: 0.9em;
  margin: 1rem;
}
.form .container .form-container .input .form-input {
  padding: 15px 30px;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 25px;
  border: none;
}
.form .container .form-container .success-message {
  text-align: center;
  color: green;
}
.form .container .form-container button {
  width: 100%;
  text-align: center;
}

.map {
  margin-top: 4rem;
}
.map iframe {
  width: 100%;
  height: 620px;
}