.articles-news {
    margin-top: 4rem;
  }
  @media (max-width: 576px) {
    .articles-news {
      margin-top: 1.5rem;
    }
  }
  @media (max-width: 576px) {
    .articles-news .container {
      padding: 1rem;
    }
  }
  @media (max-width: 1200px) {
    .articles-news .container .section-title p {
      text-align: center;
    }
  }
  @media (max-width: 576px) {
    .articles-news .container .section-title p {
      text-align: center;
    }
  }
  .articles-news .container .section-title h2 {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .articles-news .container .section-title h2 {
      display: grid;
      text-align: center;
      justify-content: center;
    }
    .articles-news .container .section-title h2 .btn-transparent {
      margin-top: 1rem;
    }
  }
  @media (max-width: 576px) {
    .articles-news .container .section-title h2 {
      flex-direction: column;
    }
    .articles-news .container .section-title h2 .btn-transparent {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .articles-news .container .news-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  @media (max-width: 1200px) {
    .articles-news .container .news-section {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 992px) {
    .articles-news .container .news-section {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 576px) {
    .articles-news .container .news-section {
      grid-template-columns: 1fr;
      width: 100%;
      gap: 0;
    }
  }
  .articles-news .container .news-section .article {
    text-decoration: none;
  }
  .articles-news .container .news-section .article:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #191919;
  }
  .articles-news .container .news-section .article:hover img {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
  }
  .articles-news .container .news-section .article p {
    margin-top: 1.5rem;
    color: #191919;
    text-decoration: none;
  }
  @media (max-width: 576px) {
    .articles-news .container .news-section .article p {
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 0.9em;
    }
  }
  .articles-news .container .news-section .article h3 {
    margin-top: 1rem;
    font-size: 22px;
    font-weight: 700;
    max-width: 310px;
    text-decoration: none;
    color: #191919;
  }
  @media (max-width: 576px) {
    .articles-news .container .news-section .article h3 {
      font-size: 1.1em;
    }
  }
  @media (max-width: 992px) {
    .articles-news .container .news-section .article {
      border-bottom: 1.5px solid #E7E7E7;
    }
  }
  @media (max-width: 576px) {
    .articles-news .container .news-section .article img {
      width: 100%;
      margin-top: 1rem;
    }
  }
  .articles-news .container .icons {
    margin-top: 1.5rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .articles-news .container .icons .dot {
    height: 12px;
    width: 12px;
    background-color: #D1D1D1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
  }
  .articles-news .container .icons .dot.active {
    background-color: #191919;
  }
  .articles-news .container .icons .dot:hover {
    background-color: #191919;
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
  }