.about-company {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 576px) {
    .about-company {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }
  .about-company .container {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .about-company .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
  @media (max-width: 576px) {
    .about-company .container {
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      width: 100%;
    }
  }
  .about-company .container .column-left {
    display: flex;
    position: relative;
    margin-left: 3rem;
  }
  @media (max-width: 1200px) {
    .about-company .container .column-left {
      margin: 0;
      position: relative;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 576px) {
    .about-company .container .column-left {
      width: 100%;
      margin-left: 0;
      align-content: center;
    }
  }
  .about-company .container .column-left img {
    position: absolute;
  }
  @media (max-width: 1200px) {
    .about-company .container .column-left img {
      position: relative;
    }
  }
  @media (max-width: 576px) {
    .about-company .container .column-left img {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
  .about-company .container .column-left .founder-box {
    background-color: #BEEBFF;
    position: absolute;
    margin-left: -60px;
    margin-bottom: 20px;
    align-self: flex-end;
    max-width: 368px;
    padding: 2rem 1rem 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  @media (max-width: 1200px) {
    .about-company .container .column-left .founder-box {
      position: absolute;
      margin: 0;
    }
  }
  @media (max-width: 576px) {
    .about-company .container .column-left .founder-box {
      margin: 0 auto;
      text-align: left;
      width: 100%;
      padding: 1rem;
    }
  }
  .about-company .container .column-left .founder-box h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #191919;
  }
  @media (max-width: 576px) {
    .about-company .container .column-left .founder-box h3 {
      font-size: 1.1em;
    }
  }
  .about-company .container .column-left .founder-box span {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #F94D1C;
    font-weight: 700;
  }
  @media (max-width: 576px) {
    .about-company .container .column-left .founder-box span {
      font-size: 0.9em;
    }
  }
  .about-company .container .column-left .founder-box p {
    font-size: 16px;
    margin-top: 1rem;
  }
  @media (max-width: 576px) {
    .about-company .container .column-left .founder-box p {
      font-size: 0.9em;
    }
  }
  .about-company .container .column-right {
    padding: 1.5rem;
  }
  @media (max-width: 1200px) {
    .about-company .container .column-right {
      padding: 0;
      width: 100%;
    }
  }
  @media (max-width: 576px) {
    .about-company .container .column-right {
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
      width: 100%;
    }
  }
  .about-company .container .column-right h3 {
    margin: 1.5rem 0 2rem 0;
    color: #F94D1C;
    font-weight: 400;
    font-size: 18px;
  }
  @media (max-width: 992px) {
    .about-company .container .column-right h3 {
      margin: 1rem;
      text-align: center;
    }
  }
  @media (max-width: 576px) {
    .about-company .container .column-right h3 {
      padding-bottom: 1rem;
      margin: 0;
      font-size: 0.9em;
    }
  }
  .about-company .container .column-right h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
  }
  @media (max-width: 1400px) {
    .about-company .container .column-right h2 {
      font-size: 40px;
    }
  }
  @media (max-width: 992px) {
    .about-company .container .column-right h2 {
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .about-company .container .column-right h2 {
      font-size: 1.5em;
    }
  }
  @media (max-width: 576px) {
    .about-company .container .column-right h2 {
      padding-bottom: 2rem;
      text-align: left;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      padding-bottom: 0.5rem;
      font-size: 1.3em;
    }
  }
  .about-company .container .column-right p {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  @media (max-width: 576px) {
    .about-company .container .column-right p {
      text-align: left;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .about-company .container .column-right .btn-black {
    margin-right: 2rem;
  }
  @media (max-width: 576px) {
    .about-company .container .column-right .btn-black {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  .about-company .container .column-right span {
    margin-left: 1rem;
  }
  @media (max-width: 576px) {
    .about-company .container .column-right span {
      margin-left: 0;
    }
  }
  .about-company .container .column-right .buttons {
    display: flex;
    align-items: center;
  }
  @media (max-width: 576px) {
    .about-company .container .column-right .buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      margin-left: 1.5rem;
      padding-bottom: 1rem;
    }
  }