.testimonials {
    background-color: #F0D082;
    padding-bottom: 5rem;
  }
  @media (max-width: 576px) {
    .testimonials {
      padding-bottom: 0.5rem;
    }
  }
  .testimonials .container {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 2px;
  }
  .testimonials .container .section-title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
  @media (max-width: 576px) {
    .testimonials .container .section-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  .testimonials .container .section-reviews .cards {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    padding: 3rem;
  }
  @media (max-width: 992px) {
    .testimonials .container .section-reviews .cards {
      display: grid;
    }
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards {
      display: grid;
      gap: 2rem;
      padding: 0;
    }
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards .review-card {
      border-bottom: 1.5px solid #E7E7E7;
    }
  }
  .testimonials .container .section-reviews .cards .review-card p {
    margin-bottom: 2rem;
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards .review-card p {
      font-size: 0.9em;
    }
  }
  .testimonials .container .section-reviews .cards .review-card .stars {
    color: #F94D1C;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  .testimonials .container .section-reviews .cards .review-card .review-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards .review-card .review-bottom {
      margin-bottom: 1.5rem;
    }
  }
  .testimonials .container .section-reviews .cards .review-card .review-bottom div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards .review-card .review-bottom div {
      justify-content: flex-end;
    }
  }
  .testimonials .container .section-reviews .cards .review-card .review-bottom div h3 {
    font-size: 22px;
    font-weight: 700;
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards .review-card .review-bottom div h3 {
      font-size: 1.1em;
    }
  }
  .testimonials .container .section-reviews .cards .review-card .review-bottom div p {
    color: #F94D1C;
    margin-bottom: 0;
    font-size: 16px;
  }
  @media (max-width: 576px) {
    .testimonials .container .section-reviews .cards .review-card .review-bottom div p {
      font-size: 0.9em;
    }
  }
  .testimonials .container .button {
    margin-top: 5rem;
    margin-bottom: 6rem;
    text-align: center;
  }
  @media (max-width: 576px) {
    .testimonials .container .button {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
  }